@import 'src/assets/styles/variables';

.wrapperButtons {
	margin: 15px 0 25px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;

	> div {
		width: 48%;
		> button {
			width: 100%;
		}
	}
}

.wrapperInnerPage {
	padding: 40px 30px 20px 30px;
	text-align: center;
	max-width: 560px;
	width: 100%;
	margin: 0 auto;
}
